# Python
__pycache__/
*.pyc
.venv/

# IDE
.vscode/
.idea/
*.DS_Store

# Docker Volume - MySQL data files
data/
mysql_data/

# Environment variables (may contain sensitive info)
.env
.env.local
.env.*.local

# OpenAPI, just for testing
openapi.json

# Front-end
node_modules/
.pnpm-store/
dist/
dist-ssr/
build/
out/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
*.tsbuildinfo